* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  box-sizing: border-box;
}

:root {
  --first-color: #f10000;
  --second-color: #fffffff1;
  --third-color: #2c2c2c;
}

body {
  color: var(--third-color);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1000px;
  margin: 0 auto;
}

.tabs-content article {
  display: none;
}

.tabs-content .active {
  display: block;
}

.tabs .active {
  color: var(--first-color);
  background-color: var(--second-color);
}

/* HEADER START*/
.header {
  display: flex;
  flex-direction: column;
}
h1 {
  color: var(--first-color);
  border-bottom: 6px solid var(--first-color);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--first-color);
  font-size: 14px;
  text-shadow: var(--third-color);
}

.logo-ep {
  width: 200px;
}
.first-ul {
  color: var(--first-color);
  font-size: 14px;
  text-shadow: var(--third-color);
}

/* HEADER END */

/* NAVIGATION START */
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px 20px;
  border-radius: 2px;
  height: 35px;
  background-color: var(--first-color);
  margin-bottom: 10px;
}

.tabs h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--second-color);
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  width: 120px;
  height: 35px;
}

h3:visited {
  color: var(--second-color);
  cursor: pointer;
}
h3:hover {
  font-size: 20px;
}
h3:active {
  font-size: 20px;
}
/* NAVIGATION END */

.logo-em {
  width: 1000px;
  margin-bottom: 20px;
}

/* DELATNOST START */
.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

h2 {
  color: var(--first-color);
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: var(--third-color);
  border-bottom: 2px solid var(--first-color);
  margin-bottom: 10px;
}

.number-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  color: var(--first-color);
  text-shadow: var(--third-color);
}

ol li {
  margin-left: 30px;
}
ul {
  color: var(--third-color);
  list-style-type: square;
}
/* DELATNOST END */

/* PARTENERS START */

.partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  margin-bottom: 60px;
}

.partner img {
  object-fit: cover;
}

/* PARTNERS END */

/* FOOTER START */
.footer {
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: var(--third-color);
  color: var(--second-color);
}

/* FOOTER END */

/* O NAMA START */
.about-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 14px 0;
}

.about-container p {
  line-height: 1.6;
}

p strong {
  color: var(--first-color);
}
/* O NAMA END */

/* CONTACT START */
.contact-content {
  margin: 20px 0;
}

.contact-content li {
  margin: 10px 0;
}

.contact-content a {
  text-decoration: none;
  color: var(--first-color);
}

/* CONTACT END */
